<p-toast [baseZIndex]="5000"></p-toast>

<div class="app-body teamme-bg-color">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <div class="brand_logo">
                <p class="text-white login-logo">TeamME</p>
              </div>
            </div>
          </div>
          <h1 class="text-center text-danger f-padd">FORGOT PASSWORD</h1>
          <h3 class="text-center text">Enter Email To Reset Your Password</h3>
          <div class="forgot_container p-5">
            <form class="form-custom">
              <div class="mb-3">
                <div class="input-group">
                  <input type="text" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" placeholder="Email" class="form-control" [disabled]="IsOTPSend || IsOTPVerified">
                </div>
                <div class="text-left mt-1">
                  <span class="text-danger" *ngIf="ErrEmail != undefined && ErrEmail != ''">{{ErrEmail}}</span>
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group" *ngIf="IsOTPSend">
                  <input type="text" [(ngModel)]="UserOTP" [ngModelOptions]="{standalone: true}" placeholder="OTP" class="form-control">
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group" *ngIf="IsOTPVerified">
                  <input type="password" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}" placeholder="Passowrd" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn-danger px-4 btn-login btn-block" (click)="SendOTP()" *ngIf="IsOTPSend==false && IsOTPVerified == false">Send OTP</button>
                  <button type="button" class="btn btn-danger px-4 btn-login btn-block" (click)="VerifyOTP()" *ngIf="IsOTPSend==true">verify OTP</button>
                  <button type="button" class="btn btn-danger px-4 btn-login btn-block" (click)="ChangePassword()" *ngIf="IsOTPVerified==true">Reset Password</button>
                  <button type="button" class="btn btn-danger px-4 btn-login btn-block" [routerLink]="['/login']">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
