body {
  margin-top: 20px;
  color: #ccc;
  background-color: #f1f2f7;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.profile-information .profile-pic img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid #f1f2f7;
  margin-top: 20px;
}

.profile-information .profile-desk h1 {
  color: #1fb5ad;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.profile-information .profile-desk {
  padding-right: 30px;
}

.btn-primary {
  background-color: #1fb5ad;
  border-color: #1fb5ad;
  color: #FFFFFF;
}

.act-content {
  padding: 40px;
}

.recent-act h1 {
  text-align: center;
  color: #1fb5ad;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.activity-icon {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  margin: 20px auto 20px;
  position: relative;
}

  .activity-icon.terques {
    background: #8fd6d6;
  }

.activity-icon {
  background: #C7CBD6;
}

.recent-act:before {
  background-color: #eeeeee;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 50px;
  width: 2px;
  z-index: 0;
}

.activity-desk {
  padding: 15px 30px;
  background: #f2f2f2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
}

  .activity-desk h2 {
    color: #1fb5ad;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }


/*-------------------------*/


body {
  margin-top: 20px;
  background: #eee;
}

.recent-activities .item {
  padding: 0 15px;
  border-bottom: 1px solid #eee
}

  .recent-activities .item div[class*='col-'] {
    padding: 15px
  }

.recent-activities h5 {
  font-weight: 400;
  color: #333
}

.recent-activities p {
  font-size: 0.75em;
  color: #999
}

.recent-activities .icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #f5f5f5;
  text-align: center;
  display: inline-block
}

.recent-activities .date {
  font-size: 0.75em;
  color: #999;
  padding: 10px
}

.recent-activities .date-holder {
  padding: 0 !important;
  border-right: 1px solid #eee
}


.card-close {
  position: absolute;
  top: 15px;
  right: 15px
}

  .card-close .dropdown-toggle {
    color: #999;
    background: none;
    border: none
  }

    .card-close .dropdown-toggle:after {
      display: none
    }

  .card-close .dropdown-menu {
    border: none;
    min-width: auto;
    font-size: 0.9em;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1)
  }

    .card-close .dropdown-menu a {
      color: #999 !important
    }

      .card-close .dropdown-menu a:hover {
        background: #796AEE;
        color: #fff !important
      }

      .card-close .dropdown-menu a i {
        margin-right: 10px;
        -webkit-transition: none;
        transition: none
      }
