<p-toast [baseZIndex]="5000"></p-toast>

<div class="row page-menu">
  <div class="col-12 table-custom" #epltable>
    <div class="card shadow-lg">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <button type="button" class="btn btn-outline-primary m-1" (click)="GoToCreateProduct()" [hidden]="PhaseId == 0">CREATE BACKLOG</button>
            <button type="button" class="btn btn-outline-primary m-1" (click)="exportToExcel()" [hidden]="ProductBacklogLength == 0">EXPORT TO EXCEL</button>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control m-1" [(ngModel)]="SearchTaskval" (ngModelChange)="OnKeyPress()" placeholder="Search backlog">
          </div>
        </div>
      </div>
      <div class="card-body" [hidden]="ProductBacklogLength == 0">
        <table mat-table [dataSource]="ProductBacklog" matSort class="mat-elevation-z8 shadow-lg">
          <ng-container matColumnDef="BacklogId">
            <th scope="col" mat-header-cell *matHeaderCellDef>ID</th>
            <td data-label="ID" mat-cell *matCellDef="let element"> {{element.ProductBacklogId}} </td>
          </ng-container>

          <ng-container matColumnDef="BacklogTitle">
            <th scope="col" mat-header-cell *matHeaderCellDef>TITLE </th>
            <td data-label="TITLE" mat-cell *matCellDef="let element">
              <button type="button" class="btn btn-link p-0 d-inline-block text-truncate" style="max-width: 100px;" title="{{element.Title}}" (click)="GoToEditProduct(element)">{{element.Title}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="BacklogState">
            <th scope="col" mat-header-cell *matHeaderCellDef>STATE </th>
            <td data-label="STATE" mat-cell *matCellDef="let element"> {{element.StateName}} </td>
          </ng-container>

          <ng-container matColumnDef="BacklogAssignedTo">
            <th scope="col" mat-header-cell *matHeaderCellDef>OWNER </th>
            <td data-label="OWNER" mat-cell *matCellDef="let element"> {{element.UserName}} </td>
          </ng-container>

          <ng-container matColumnDef="MoveTo">
            <th scope="col" mat-header-cell *matHeaderCellDef> MOVE TO</th>
            <td data-label="MOVE TO" mat-cell *matCellDef="let element">
              <mat-form-field>
                <mat-select [(ngModel)]="PhaseMoveToId" [ngModelOptions]="{standalone: true}" (selectionChange)="PhaseMoveTo(element.ProductBacklogId)" [disabled]="Phaseobj.length==0">
                  <mat-option *ngFor="let  phase of Phaseobj" [value]="phase.PhaseId">
                    {{phase.Description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <th scope="col" mat-header-cell *matHeaderCellDef> DELETE</th>
            <td data-label="DELETE" mat-cell *matCellDef="let element">
              <i class="fa fa-trash text-danger cur-pointer" (click)="ProductBacklogData = element;deletedisplay=true;"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>        
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons (page)="pageEvents($event)"></mat-paginator>
      </div>
      <div class="card-body" [hidden]="ProductBacklogLength != 0">
        <div class="row">
          <div class="col-12 text-center">
            <img class="img-fluid px-xl-4 mt-xxl-n5" src="../../../assets/img/norecord.gif" height="350" width="350">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="DELETE BACKLOG" [(visible)]="deletedisplay" [modal]="true" [baseZIndex]="10000"
          [draggable]="false" styleClass="p-dialog-custom" [closable]="false">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center pt-5 pb-5">Are you sure want to delete?</h3>
    </div>
  </div>
  <p-footer>
    <button type="button" (click)="deletedisplay=false" class="btn btn-outline-primary">No</button>
    <button type="button" (click)="DeleteProductBacklog(ProductBacklogData.ProductBacklogId)" [disabled]="FormDisabled" class="btn btn-outline-primary">Yes</button>
  </p-footer>
</p-dialog>
