<p-toast [baseZIndex]="5000"></p-toast>

<div class="app-body teamme-ty-color">
  <div class="jumbotron m-5 text-center text-white">
    <div class="ty-logo">Thank You!</div>
    <br />
    <div class="lead mt-5"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</div>
    <hr>
    <p class="lead">
      <button class="btn btn-danger my-2 my-sm-0 text-uppercase" [routerLink]="['/register']" type="submit">Continue to homepage</button>
    </p>
  </div>
</div>
