<div class="app-body teamme-bg-color">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <div class="brand_logo">
                <p class="text-white login-logo">TeamME</p>
              </div>
            </div>
          </div>
          <div class="form_container text-center">
            <h2>Sorry..!! Your Session has been expired!</h2>
            <img src="assets/img/sessionexpire.jpg" class="img-avatar" height="200" width="200" alt="TeamMe" />
          </div>
          <div class="mt-2 text-center">
            <button class="btn btn-danger text-uppercase" [routerLink]="['/login']" type="submit">Login</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
